body {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background-color: $colo-secondary;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0 0 30px black;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    padding-right: 30px;
}

.hidden {
    display: none;
}
