#searchBar {
    width: 50%;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $colo-secondary
}

.search-wrapper {
    padding: 0 10px 20px;
}

.use_icon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    // font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }