* {
    box-sizing: border-box;
}

body {
    background-image: url('../../css/background-img2.jpg'); 
    // background-position: center;
    background-repeat: no-repeat;
}

h2,
p {
    margin: 5px 0;
}

header {
    height: 150px;
    padding: 10px;
}

hr {
    margin: 35px 0;
}

//hover effect credit to CodyHouse (https://codepen.io/codyhouse/pen/KKdrmXj?editors=1100)
.grid-container:hover .card:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
}

.grid-container:hover .card:not(:hover)::after {
    background-color: rgba(#000, 0.5);
}

.card {
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $colo-secondary;
    box-shadow: 2px 7px 17px #807e7e;;
    transition: 0.5s;
    cursor: pointer;
}

.modal {
    p {
        margin: 10px 0;
    }
}

.details {
    p {
        margin: 20px 0;
    }
}