* {
    box-sizing: border-box;
}

body { 
    padding: 50px;       
    background-color: $color-primary;
}

h2,
p {
    margin: 5px 0;
}

header {
   padding: 10px;
}

hr {
    margin: 35px 0;
}

.app-wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

//hover effect credit to CodyHouse (https://codepen.io/codyhouse/pen/KKdrmXj?editors=1100)
.grid-container:hover .card:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
}
  
.grid-container:hover .card:not(:hover)::after {
    background-color: rgba(#000, 0.5);
}

.card {
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $colo-secondary;
    transition: 0.5s;
    cursor: pointer;
}

.modal {
    p {
        margin: 10px 0;
    }
}

.details {
    p {
        margin: 20px 0;
    }
}